# node modules directory.
node_modules/

# build targets
dist/

# docs target directory
docs/

# istanbul coverage reports
coverage/

# visual studio code hidden files
.vscode/

# project backups
.backup/

# npm debug log
npm-debug.log
